.error {
  border: 2px solid red;
  background: rgb(253, 219, 219);
  box-shadow: 2px 2px 2px red;
}

input {
  border-radius: 8px;
  height: 2.2rem;
  box-shadow: 2px 2px 2px solid rgb(248, 225, 242);
}

.individualformitem {
  margin: 0.2rem 0;
}

input[type="submit"] {
  margin-top: 1rem;
  height: 3rem;
  padding: 10px;
  font-size: 1rem;
  color: rgb(68, 136, 133);
  background: white;
}

input[type="submit"]:hover {
  background: rgb(68, 136, 133);
  color: white;
}

.para {
  margin: 0;
  color: rgb(245, 96, 50);
}
